<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.anhoder.display-steward</string>
    <key>ProgramArguments</key>
    <array>
        <string>__ROOT_DIR__/build/Display Steward.app/Contents/MacOS/DisplaySteward</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/com.anhoder.display-steward.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/com.anhoder.display-steward.error.log</string>
</dict>
</plist>
